<!DOCTYPE HTML>
  <head>
  </head>
  <body>
    <div cass = "hiidenbutton">
      <button onclick=" document.location.href = 'mailto:granica32@mail.ru'  ">E-mail</button>
    </div>
    <div class = "unhidden">
      <p>some email information</p>
    </div>
  </body>
</html>
