<!DOCTYPE HTML>

<head>
</head>

<body>
    <!--<span cass = "hiidenbutton">
      <button onclick=" document.location.href = 'mailto:granica32@mail.ru'  ">E-mail</button>
    </div>
  -->
    <div class="info">
        <span id="e809006831"><button class="btn btn-small" onclick=" document.location.href = 'mailto:granica32@mail.ru'  ">E-mail<i class="myicon-envelope myicon-blue"></i></button></span>
        <script type="text/javascript">
            /*<![CDATA[*/
            eval(
                "var a=\"Za3oIUF7@JwxBlsHQzcX5rd8e0gNT2VEm4MvpnfWCtOyj9-SuG.hD+LPqiR_6AkYb1K\";var b=a.split(\"\").sort().join(\"\");var c=\"SRtLGytFUl+tGD3RA\";var d=\"\";for(var e=0;e<c.length;e++)d+=b.charAt(a.indexOf(c.charAt(e)));document.getElementById(\"e809006831\").innerHTML=\"<button class=\\\"btn btn-small\\\" onclick=\\\" document.location.href = 'mailto:\"+d+\"'  \\\">E-mail<i class=\\\"myicon-envelope myicon-blue\\\"></i></button>\""
            ) /*]]>*/
        </script>
    </div>
    <div class="unhidden">
        <p>some email information</p>
    </div>
</body>

</html>